/* Similarity join layout | VWM semestral project */

html {
    padding: 0px;
    margin: 0px;
    font-family: Courier New;
    font-size: 10pt;
}

body {
    
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    
}

#form_zone {
    position: absolute;
    top: 70px;
    padding: 10px;
    border: dashed 5px gray;
    width: 1120px;
    height: 250px;
}

#upfile_zone {
    
    position: absolute;
    left: 70px;
    top: 60px;
    
}

#predicate_zone {
    
    position: absolute;
    left: 500px;
    top: 60px;
    
}

#result_zone {
    
    position: absolute;
    border: dashed 5px gray;
    width: 1120px;
    padding: 30px;
    padding-top: 0px;
    top: 100px;
    display: none;
    
}


p.upload_echo {
    position: relative;
    left: 1200px;
    top: 60px;;
}

input[type=number] {
    
    width: 170px;
    height: 20px;
    
}

input[type=radio] {
    
    margin-left: 10px;
    
}

input[type=submit] {
    
    position: absolute;
    left: 930px;
    top: 120px;
    border-radius: 0px;
    box-shadow: 1px 1px 5px;
    width: 150px;
    height: 50px;
    
}